<a href="https://colab.research.google.com/github/narayanvyas/Arduino-Bluetooth-Relay-Control-With-SoftwareSerial/blob/master/assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[]
print(a)

[]

In [ ]:
L=[1,2,3,4]
print(L[-2])

3

In [ ]:
# Find Area Of Circle

from math import pi

r = float(input('Enter Radius: '))
area = round((pi * r * r), 3)
print('Area of Circle is ' + str(area))

Enter Radius: 3
Area of Circle is: 28.274

In [ ]:
# Take Input & Convert them to list and tuples

numbers = input('Enter Some Comma Saperated Numbers: ')
numbersList = numbers.split(',')
numbersTuple = tuple(numbersList)

print(numbersList)
print(numbersTuple)

Enter Some Comma Saperated Numbers: 1,2,2,2,3,4,5,6
['1', '2', '2', '2', '3', '4', '5', '6']
('1', '2', '2', '2', '3', '4', '5', '6')

In [ ]:
# Accept filename and print extendsion

fileName = input('Enter Filename With Extension: ')
dotCount = fileName.count('.')

if(dotCount != 1):
  print('Please Enter A Valid Filename')
else:
  ext = fileName.split('.')[-1]
  print('Extension is .' + ext)

Enter Filename With Extension: hey
Please Enter A Valid Filename

In [ ]:
# Display First and Last color

fruits_list = ["Apple","Mango","Cherry" ,"Banana"]
print('First fruit is ' + fruits_list[0])
print('Last fruit is ' + fruits_list[-1])

First fruit is Apple
Last fruit is Banana

In [ ]:
# Square root of given number

import math

num = float(input('Enter A Number: '))
sqr = round(math.sqrt(num), 3)
print('Square root is ' + str(sqr))

Enter A Number: 9
Square root is 3.0

In [ ]:
# Area of Triangle
a = float(input('Enter First Side: '))  
b = float(input('Enter Second Side: '))  
c = float(input('Enter Third Side: '))  
  
# calculate the semi-perimeter  
s = (a + b + c) / 2  
  
# calculate the area  
area = (s*(s-a)*(s-b)*(s-c)) ** 0.5  
print('The area of the triangle is %0.2f' %area)

Enter First Side: 3
Enter Second Side: 4
Enter Third Side: 5
The area of the triangle is 6.00

In [ ]:
# Swap two variables without using third variable

num1 = int(input('Enter First Number: '))
num2 = int(input('Enter Second Number: '))

num2 = num1 + num2
num1 = num2 - num1
num2 = num2 - num1

print('First Number is ' + str(num1) + ' and Second Number is ' + str(num2))

Enter First Number: 24
Enter Second Number: 87
First Number is 87 and Second Number is 24

In [ ]:
# Convert temperature in celsius to fahrenheit

celsius = float(input('Enter Temperature in Celsius: '))
fahrenheit = (celsius * 1.8) + 32

print('%0.1f\N{DEGREE SIGN} Celsius is equal to %0.1f\N{DEGREE SIGN} Fahrenheit' %(celsius, fahrenheit))

Enter Temperature in Celsius: 37.5
37.5° Celsius is equal to 99.5° Fahrenheit

In [ ]:
num = [1, 2, 3, 4]
print(num.append(5))
print(num.extend(5))

None

TypeError: ignored

In [1]:
# First 10 natural numbers using while loop

i = 1
while(i<=10):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

In [4]:
rows = 6

for i in range(rows):
    for j in range(i):
        print(j+1, end=' ')
    print('')

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
num = int(input('Enter A Number: '))
sum = 0

for i in range(1, num+1):
  sum += i

print('Sum is ' + str(sum))

Enter A Number: 2
Sum is 3

In [11]:
num = int(input('Enter A Number: '))

for i in range(1, 11):
   print(num, 'x', i, '=', num*i)

Enter A Number: 10
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [20]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]

for i in list1:
  if(i > 150):
    break
  elif(i % 5 == 0):
    print(i)

15
55
75
150

In [23]:
num = int(input("Enter A Number: "))
count = 0

while num != 0:
    num //= 10
    count += 1

print("Number of digits: " + str(count))

Enter A Number: 1234
Number of digits: 4

In [26]:
rows = 6

for i in reversed(range(rows)):
    for j in reversed(range(i)):
        print(j+1, end=' ')
    print('')

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [27]:
list1 = [10, 20, 30, 40, 50]
list2 = []

for i in reversed(list1):
  list2.append(i)

print(list2)

[50, 40, 30, 20, 10]

In [29]:
for i in range(-10, 0):
  print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [30]:
for i in range(1,3):
  print(i)
else:
  print('Done')

1
2
Done

In [34]:
lower = 200
upper = 230

for num in range(lower, upper + 1):
   # all prime numbers are greater than 1
   if num > 1:
       for i in range(2, num):
           if (num % i) == 0:
               break
       else:
           print(num)

211
223
227
229

In [35]:
nterms = 10

n1, n2 = 0, 1
count = 0

if nterms <= 0:
   print("Please enter a positive integer")
elif nterms == 1:
   print(n1)
else:
   print("Fibonacci sequence:")
   while count < nterms:
       print(n1)
       nth = n1 + n2
       n1 = n2
       n2 = nth
       count += 1

Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

In [36]:
num = int(input("Enter a number: "))

factorial = 1

if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of", num,"is", factorial)

Enter a number: 7
The factorial of 7 is 5040

In [37]:
Number = int(input("Enter A Number: "))

Reverse = 0
while(Number > 0):
    Reminder = Number %10
    Reverse = (Reverse *10) + Reminder
    Number = Number //10

print("\n Reverse is = %d" %Reverse)

Enter A Number: 12435

 Reverse is = 53421

In [41]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
index = 0

for i in my_list:
  if(index%2!=0):
    print(i)
  index += 1

20
40
60
80
100

In [44]:
num = float(input("Enter A Number : "))

cube = num * num * num

print("The Cube of a Given Number {0} is {1}".format(num, cube))

Enter A Number : 3
The Cube of a Given Number 3.0 is 27.0

In [46]:
import math
 
def sumOfSeries( n ):
    return 0.0246 * (math.pow(10, n) - 1 - (9 * n))

n = int(input('Enter A Number: '))
print(sumOfSeries(n))

Enter A Number: 5
2458.8684

In [49]:
rows = int(input("Enter the number of rows: "))
  
for i in range(0, rows):  
    for j in range(0, i + 1):  
        print("*", end=' ')  
    print(" ")  
for i in range(rows, 0, -1):  
    for j in range(0, i - 1):  
        print("*", end=' ')  
    print(" ")

Enter the number of rows: 5
*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*